:root{
  --main-bg-color: #72797A;
  --text-color: #000000;
  --border-color: #808080;
  --canvas-bg-color: #B2B2B2;
  --link-color: #19c;
  --ruler-color: #B2B2B2;
  --icon-bg-color: #72797A;
  --icon-bg-color-hover: #2B3C45;
  --input-color: #B2B2B2;
}

body {
  background: var(--main-bg-color);
}

html, body, div{
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
  /* this will work for QtWebKit in future */
  -webkit-user-drag: text;
}

#svg_editor * {
  transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

#svg_editor {
  font-size: 8pt;
  font-family: Verdana, Helvetica, Arial;
  color: var(--text-color);
}

a {
  color:var(--link-color);
}

hr {
  border: none;
  border-bottom: 1px solid var(--border-color);
}

#linkLabel > svg {
  height: 20px;
  padding-top: 4px;
}

#sidepanels {
  display: inline-block;
  position:absolute;
  top: 40px;
  bottom: 40px;
  right: 0;
  width: 2px;
  padding: 10px;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1px;
  border-left: none;
  overflow-x:hidden;
  overflow-y:visible;
}

#layerpanel {
  display: inline-block;
  position:relative;
  top: 0px;
  bottom: 0;
  left: 12px;
  width: 0;
  overflow: hidden;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/*
  border-style: solid;
  border-color: #666;
  border-width: 0px 0px 0px 1px;
*/
#sidepanel_handle {
  display: inline-block;
  position: absolute;
  background-color: --main-bg-color;
  color: #fff;
  font-weight: 100;
  left: 0;
  top: 40%;
  width: 1em;
  padding: 5px 5px 5px 5px;
  margin-left: 6px;
  cursor: pointer;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#sidepanel_handle * {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#layerbuttons {
  margin: 0;
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
  width: 125px;
  height: 20px;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#layerlist {
  margin: 1px;
  padding: 0;
  width: 127px;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
  background-color: #FFFFFF;
}

#layerlist tr.layer {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

#layerlist tr.layersel {
  border: 1px solid var(--border-color);
  background-color: #CCCCCC;
}

#layerlist td.layervis {
  width: 22px;
  cursor: pointer;
}

#layerlist td.layerinvis {
  background-image: none;
  cursor: pointer;
}

#layerlist td.layervis * {
  display: block;
}

#layerlist td.layerinvis * {
  display: none;
}

#layerlist td.layername {
  cursor: pointer;
}

#layerlist td.layername:hover {
  color: blue;
  font-style: italic;
}

#layerlist tr.layersel td.layername {
  font-weight: bold;
}

#selLayerLabel {
  white-space: nowrap;
}

#selLayerNames {
  display: block;
}

/* Main button
—————————————————————————————*/

#main_button {
  position: absolute;
  top: 4px;
  left: 5px;
  z-index: 5;
  color: #fff;
  border-radius: 3px;
}

#main_button:hover {
  background-color: var(--icon-bg-color-hover);
  color: #fff;
}

#main_icon {
  position: relative;
  top: -2px;
  left: -2px;
  width: 95px;
  line-height: 26px;
}

#main_icon:hover {
  background: #eee !important;
}

#main_icon.buttondown {
  background: #eee !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 3px 3px 0 0;
}

#logo {
  margin-top: -2px;
}

#logo img {
  border: 0;
  width: 28px;
  height: 28px;
}

#main_icon > div {
  float: left;
}

#main_button .dropdown {
  position: absolute;
  right: 7px;
  top: 4px;
}

#main_icon span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 2;
  font-weight: bold;
  padding-left: 34px;
  line-height: 32px;
  font-family: sans-serif;
}

#main_menu {
  z-index: 12;
  background: #eee;
  position: relative;
  width: 230px;
  padding: 5px;
  -moz-box-shadow: #555 1px 1px 4px;
  -webkit-box-shadow: #555 1px 1px 4px;
  box-shadow: #555 1px 1px 4px;
  font-size: 1.1em;
  display: none;
  overflow: hidden;
  clear: both;
  top: -9px;
}

#main_menu ul,
#main_menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main_menu li {
/*  height: 35px;*/
  line-height: 22px;
  padding-top: 7px;
  padding-left: 7px;
  margin: -5px;
  overflow: auto;
  cursor: pointer;
}

#main_menu li:hover {
  background: #FFC;
}

#main_menu li > div {
  float: left;
  padding-right: 5px;
}

#main_menu p {
  margin-top: 5px;
}

/*—————————————————————————————*/

#tools_top {
  position: absolute;
  left: 96px;
  top: 2px;
  min-height: 40px;
  border-bottom: none;
  overflow: visible;
  right:1px;
}

#tools_top .tool_sep {
  margin-top: 5px;
}

#tools_top > div > * {
  float: left;
}
#tools_top se-input {
  margin-top: 5px;
  height: 34px;
}
#tools_top se-spin-input, #tools_top se-list {
  margin-top: 0;
  height: 34px;
  position: relative;
  top: 5px;
}

#tools_top se-dropdown-list {
  margin-top: 5px;
  height: 34px;
}

/*—————————————————————————————*/

#tools_bottom {
  position: absolute;
  left: 40px;
  right: 0;
  bottom: 0;
  height: 33px;
  overflow: visible;
}

#tools_bottom * {
  float: left;
  margin-right: 2px;
}

#tools_bottom se-spin-input {
  float: left;
  vertical-align: middle;
  display:flex;
  align-items: center;
}
#tools_bottom elix-dropdown-list{
  width:22px;
}

/*—————————————————————————————*/

#tools_left {
  position: absolute;
  border-right: none;
  width: 32px;
  top: 40px;
  left: 1px;
  margin-top: -2px;
  padding-left: 2px;
  background: --main-bg-color;
  z-index: 4;
}

/*—————————————————————————————*/

#workarea.wireframe #svgcontent * {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  stroke-opacity: 1.0;
  stroke-dasharray: 0;
  opacity: 1;
  pointer-events: stroke;
  filter: none;
}

#workarea.wireframe #svgcontent text {
  fill: #000;
  stroke: none;
}

#workarea.wireframe #canvasBackground > rect {
  fill: #FFF !important;
}

#editor_panel, #history_panel {
  height: 34px;
  float: left;
}

#multiselected_panel .selected_tool {
  vertical-align: 12px;
}

/*TODO: Adjust position of rulers are not visible*/
#cur_context_panel {
  position: absolute;
  top: 57px;
  left: 56px;
  line-height: 22px;
  overflow: auto;
  padding-left: 5px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #ccc;
  padding: 0 10px;
  border-radius: 0 0 3px 0;
}

#cur_context_panel a {
  float: none;
  text-decoration: none;
}

#cur_context_panel a:hover {
  text-decoration: underline;
}

div.toolset, div.toolset > * {
  float: left;
}

div.toolset {
  height: 34px;
}

div.toolset label span {
/*  outline: 1px solid red;*/
  padding-top: 3px;
  display: inline-block;
}



input[type=text] {
  padding: 2px;
}

.dropdown {
  position: relative;
}

.dropdown button {
  width: 15px;
  height: 21px;
  margin: 6px 0 0 1px;
  padding: 0;
  border-left: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: #E8E8E8;
}

.dropdown button.down {
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background-color: #5a6162;
}

.dropdown ul {
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  left: -85px;
  top: 26px;
  z-index: 4;
  display: none;
}

.dropup ul {
  top: auto;
  bottom: 24px;
}

.dropdown li {
  display: block;
  width: 120px;
  padding: 4px;
  background: #E8E8E8;
  border: 1px solid #5a6162;
  margin: 0 0 -1px 0;
  line-height: 16px;
}

.dropdown li:hover {
  background-color: #FFC;
}

.dropdown li.special {
  padding: 10px 4px;
}

.dropdown li.special:hover {
  background: #FFC;
}

#font_family_dropdown-list li {
  font-size: 1.4em;
}

#font_family {
  margin-left: 5px;
  margin-right: 0;
}

 #main_menu li#tool_open,  #main_menu li#tool_import {
  position: relative;
  overflow: hidden;
}

#tool_image {
  overflow: hidden;
}

#tool_open input,
#tool_import input,
#tool_image input {
  position: absolute;
  opacity: 0;
  font-size: 10em;
  top: -5px;
  right: -5px;
  margin: 0;
  cursor: pointer; /* Sadly doesn't appear to have an effect */
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.tool_sep {
  width: 1px;
  background: #888;
  border-left: 1px outset #EEE;
  margin: 2px 3px;
  padding: 0;
  height: 24px;
}

.width_label {
  padding-right: 5px;
}

#text {
  position: absolute;
  left: -9999px;
}

#url_notice {
  padding-top: 4px;
  display: none;
}

.bottom-icon {
  width: 22px;
}


#palette {
  float: right;
}

#stroke_expand {
  width: 0;
  overflow: hidden;
}

#toggle_stroke_tools {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25px;
  text-align: center;
  border-radius: 0 3px 3px 0;
  margin: 0;
}

#toggle_stroke_tools:before {
  content: '>>';
  letter-spacing: -3px;
  font-weight: bold;
  color: #666;
}

.expanded #toggle_stroke_tools:before {
  content: '<<';
}

#toggle_stroke_tools:hover {
  background: white;
}

#tool_opacity { right: 0;}

#tool_opacity {
  overflow: visible;
}

ul li.current {
  background-color: #F4E284;
}

 #copyright {
  text-align: right;
  padding-right: .3em;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 5;
}

#save_output_btns {
  display: none;
  text-align: left;
}

#save_output_btns p {
  margin: .5em 1.5em;
  display: inline-block;
}

#bg_blocks {
  overflow: auto;
  margin-left: 30px;
}

/* ------------ */

.dropdown li.tool_button {
  width: 24px;
}

@media screen and (max-width:1250px) {
  .expanded #palette_holder {
    left: 560px;
    overflow-x: scroll;
    padding: 0 5px;
    margin-top: 2px;
    height: 30px;
  }
  #tools_top {
    height: 71px;
    overflow-x: scroll;
  }
  #workarea, #sidepanels {
    top: 70px !important;
  }
  #rulers #ruler_corner,
  #rulers #ruler_x, #tools_left {
    top: 71px;
  }

  #rulers #ruler_y {
    top: 86px;
  }

  #cur_context_panel {
    top: 87px;
  }

  #selected_panel {
    clear: right;
  }
}

@media screen and (max-width:1100px) {
  #tools_bottom:not(.expanded) #palette_holder {
    left: 410px;
    overflow-x: scroll;
    padding: 0 5px;
    margin-top: 2px;
    height: 30px;
  }
}