node_modules
ignore

coverage
instrumented
dist
docs/jsdoc
archive

src/svgedit-config-es.js
src/svgedit-config-iife.js
svgedit-custom.css
src/xdomain-svgedit-config-iife.js

# Vendor/minified files
src/editor/jquery.min.js
src/editor/jquery-ui

# Previously minified though exporting
src/editor/js-hotkeys

src/editor/jspdf/jspdf.min.js
src/editor/jspdf/underscore-min.js

src/editor/extensions/mathjax

# Todo: We should at least check `compat/compat` in our other files, however
## Two "external" items are modified locally, so we undo their ignoring
src/external/**/*
!src/external/dom-polyfill
src/external/dom-polyfill/*
!src/external/dom-polyfill/dom-polyfill.js
!src/external/dynamic-import-polyfill

mochawesome-report
releases
!.eslintrc.js
!.ncurc.js
