{
  "extends": "standard",
  "parserOptions": {
      "sourceType": "module"
  },
  "env": {
      "node": false,
      "browser": true
  },
  "rules": {
    "semi": [2, "always"],
    "indent": ["error", "tab", {"outerIIFEBody": 0}],
    "no-tabs": 0,
    "object-property-newline": 0,
    "one-var": 0,
    "no-var": 2,
    "prefer-const": 2
  }
}
