node_modules
ignore

coverage
instrumented
dist
docs/jsdoc
archive

jsconfig.json
mochawesome-report
releases
!.eslintrc.js
!.ncurc.js

es-dev-server.config.js
nyc.config.js

svgedit-custom.css

# Vendor/minified files
src/editor/jquery.min.js

# Previously minified though exporting
src/editor/js-hotkeys

src/editor/extensions/ext-mathjax/mathjax

# jquery files
src/editor/jgraduate/jQuery.jPicker.js

