ignore
node_modules
docs/jsdoc
cypress/results
cypress/screenshots
cypress/videos
cypress.env.json
coverage
instrumented
.nyc_output
mochawesome-report
mochawesome.json
.vscode
.eslintcache
.DS_Store
.idea
dist
