[submodule "releases/svg-edit-2.8.1"]
	path = releases/svg-edit-2.8.1
	url = https://github.com/SVG-Edit/svgedit.git
	branch = release-v2.8.1
[submodule "releases/svg-edit-5.1.0"]
	path = releases/svg-edit-5.1.0
	url = https://github.com/SVG-Edit/svgedit.git
	branch = release-v5.1.0
[submodule "releases/svg-edit-5.0.0"]
	path = releases/svg-edit-5.0.0
	url = https://github.com/SVG-Edit/svgedit.git
	branch = release-v5.0.0
[submodule "releases/svg-edit-4.3.0"]
	path = releases/svg-edit-4.3.0
	url = https://github.com/SVG-Edit/svgedit.git
	branch = release-v4.3.0
[submodule "releases/svg-edit-4.2.0"]
	path = releases/svg-edit-4.2.0
	url = https://github.com/SVG-Edit/svgedit.git
	branch = release-v4.2.0
[submodule "releases/svg-edit-4.1.0"]
	path = releases/svg-edit-4.1.0
	url = https://github.com/SVG-Edit/svgedit.git
	branch = release-v4.1.0
[submodule "releases/svg-edit-4.0.1"]
	path = releases/svg-edit-4.0.1
	url = https://github.com/SVG-Edit/svgedit.git
	branch = release-v4.0.1
[submodule "releases/svg-edit-4.0.0"]
	path = releases/svg-edit-4.0.0
	url = https://github.com/SVG-Edit/svgedit.git
	branch = release-v4.0.0
