ignore
screencasts

.github/ISSUE_TEMPLATE/bug_report.md
gh-disabled-workflows
build
lgtm.yml

cypress/**
cypress.env.json

coverage/**
.nyc_output
instrumented/**
mochawesome-report/**
mochawesome.json

releases

tools
.eslintcache
