<?xml version="1.0"?>
<widget defaultmode="application">
  <widgetname>SVG Edit</widgetname>
  <description>
    A simple SVG Editor.
  </description>
  <width>800</width>
  <height>600</height>
  <icon>editor/images/logo.svg</icon>
  <id>
    <name>SVG Edit</name>
    <revised>2009-09</revised>
  </id>
  <feature name="http://xmlns.opera.com/fileio">
    <param name="folderhint" value="home" />
  </feature>
</widget>
