@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hsy17w');
  src:  url('fonts/icomoon.eot?hsy17w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hsy17w') format('truetype'),
    url('fonts/icomoon.woff?hsy17w') format('woff'),
    url('fonts/icomoon.svg?hsy17w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-earth:before {
  content: "\61";
}
.icon-linkedin:before {
  content: "\40";
}
.icon-xing:before {
  content: "\71";
}
.icon-yelp:before {
  content: "\76";
}
