
/* ------------ */
/* cs drill extensions */
/* ------------ */
:root {
  --main-bg-color: lightgray; //TODO CHANGE TO WHITE
  --canvas-bg-color: #B8E8B8;
  --icon-bg-color: #white;
  --icon-bg-color-hover: #FFC;
  --text-color: black;
}

#main_button, #sidepanels {
  display: none;
}

#tool_path, #tool_zoom, #tools_rect, #tools_ellipse, #tool_image {
  display: none;
}

#title_panel, #editor_panel, #history_panel .tool_sep  {
  display: none;
}

#g_title, #elem_id, #elem_class, #angle, #blur, #stroke_style, #stroke_linejoin, #stroke_linecap, #palette, #opacity,
#selected_x, #selected_y, #line_x1, #line_y1, #line_x2, #line_y2 {
  display: none;
}

#tool_text_anchor, #tool_text_decoration_linethrough, #tool_text_decoration_overline, #tool_text_decoration_overline,
#tool_text_decoration_underline, #tool_length_adjust, #tool_text_length, #tool_word_spacing, #tool_letter_spacing,
#tool_align_distrib_horiz, #tool_align_distrib_verti, #tool_make_link_multi, #tool_topath, #tool_reorient, #tool_make_link,
#circle_cx, #circle_cy, #circle_r {
  display: none;
}

.tool_button_current,
.push_button_pressed,
.buttondown {
  background-color: #f4e284 !important;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4), 1px 1px  0 white  !important;
  -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4), 1px 1px  0 white  !important;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4), 1px 1px  0 white  !important;
}

#label {
  color: green !important;
}
